/* Der er lavet en wrapper til skærmen, så hvis brugeren sidder på en skærm der er breddere end 1040 pixels, så vil designet og indholdet ikke blive strækt ud eller ændret */


/* Body er lavet i hvid, så man kan se forskel på selve siden og når der kommer wrapper på */
body {
    background-color: white;
}

/* Teksten er centreret i forhold til indhold så det står på linje med indholdet over og under. Der er tilføjet padding i begge sider og bunden så der kommer noget afstand og whitespace mellem hver container */
p {
    text-align: center;
    margin: 3%;
  
}

h2 {
    text-align: center;
}

h4{
text-align: center;
    padding-bottom: 5%;
}

.bjaelke {
    border-top: 1px solid black;
    /* Bestememr tykkelsen af bjælken */
    width: 80px;
    margin: 0 auto;
    margin-top: 20px;
    /* Bestemmer afstanden til overskriften */
}


 /* blade i kanten */
.blad-overlay {
    position: relative;
    top:0;
    left:0;
}


.blad-overlay-two{
    position: relative;
    top: 0;
    left: 0;
} 

.blad-overlay-one{
 display: none;
    
}

.blad-overlay-2 {
    position: relative;
    top:0;
    left:0;
}


.blad-overlay-two-2{
    position: relative;
    top: 0;
    left: 0;
} 

.blad-overlay-one-2{
 display: none;
    
}



/* flexcontainerne til infogragik og produkter */
.flex-container {
     background-color: #F2EEE8;
   
}

.flex-container2 {
     background-color: #DECAB7;
    
}

/* tekst til produkterne nederst */

.flex-container2 h3 {
    text-align: center;
    
}

.flex-container2 p {
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
}

/* Billederne er gjort mindre så de passer bedre til siderne */
.image {
   max-width: 150px;
    height: auto;
}


.image-produkt {
   max-width: 200px;
height: auto; 
    margin-top: 10%;
     display: block;
  margin-left: auto;
  margin-right: auto;

}




/* produkterne nederst på siden */
.products-sektion {
     background-color: #DECAB7;
  
}

.products-sektion h2  {
    text-align: center;
    padding-top: 30px;
}

/*-------centrere på mobil------*/

.flex-item-left {
    text-align: center;
}


.flex-item-right {
    text-align: center
}


.flex-item-left img {
    width: 100%;
    height: auto;
}

.flex-item-right img {
    width: 100%;
    height: auto;
}


/* For at siden også virker på mobilen er den lavet responsive. Dvs. er skærmen 800px eller mindre vil indholdet stille sig op på en lang række */

@media only screen and (min-width: 500px) {
    
    /* Tekst og billeder er flexet, så de står på række, dvs. et billede ved siden af teksten. Bredden er sat til 100% med 50åx padding på alle sider så indholdet ikke går helt ud til kanterne*/
.flex-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    max-width: 100%;
     background-color: #F2EEE8;
    padding: 50px;
}

.flex-container2 {
     display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    padding: 2em;
     background-color: #DECAB7;
  margin-left: auto;
  margin-right: auto;
}
    
    
.image {
   max-width: 300px;
    height: auto;
}
    
    .image-produkt {
 padding: 10px;
    }
    
    
    /* Uanset om det er billeder eller tekst der står til højre vil det ikke fylde mere end 50% af skærmbredden, på den måde fylder tekst og billede en lige stor del af skærmen og bliver symetrisk */
.flex-item-right {
    flex: 50%;
    
}

.flex-item-left {
    flex: 50%;
}

.flex-item-left img {
    padding-right: 15%;
    
}

.flex-item-right img {
    padding-left: 15%;
  
}
  
}

@media only screen and (min-width: 800px) {
    /* produkterne nederst på siden */

.image-produkt {
   max-width: 300px;
    padding-right: 50px;
    padding-left: 50px;

}
    
 /* teksten til infografik får mere padding i kanterne */    
    
    .flex-container p {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    
        .blad-overlay-one {
        display: block;
    position: absolute;
    top:-300px;
    left:-200px;
     width: 100%;
  max-width: 400px;
  height: auto;
    
}
    
            .blad-overlay-one-2 {
        display: block;
    position: absolute;
    top:-150px;
    right:-180px;
     width: 100%;
  max-width: 400px;
  height: auto;
    
}
}